Iris flower Data set

In [10]:
import pandas as pd 
# load data

flower=pd.read_csv("IRIS.csv")
flower.iloc[0:10]
print(flower.shape)
print(flower.dtypes)

#Summary statistics (mean, std, min, max)

#flower.describe()

num_cols = flower.select_dtypes(include="number").columns
flower[num_cols].agg(["min", "max", "std", "mean"])

(150, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

      sepal_length  sepal_width  petal_length  petal_width
min       4.300000     2.000000      1.000000     0.100000
max       7.900000     4.400000      6.900000     2.500000
std       0.828066     0.433594      1.764420     0.763161
mean      5.843333     3.054000      3.758667     1.198667